extends ../layouts/main

block variables
  - var title = 'Mriya Resort';
  - var description = 'Mriya Resort — российский курорт для всей семьи на берегу черного моря';

block content
  include ../modules/index/index-intro
  include ../modules/index/index-select
  include ../modules/index/index-info
  include ../modules/index/index-slider