@font-face {
    font-family: "EuclidCircularB-Medium";
    src: url(@/fonts/EuclidCircularB-Medium.woff);
    src: url(@/fonts/EuclidCircularB-Medium.woff2)
}
@font-face {
    font-family: "EuclidCircularB-Regular";
    src: url(@/fonts/EuclidCircularB-Regular.woff);
    src: url(@/fonts/EuclidCircularB-Regular.woff2)
}
@font-face {
    font-family: "EuclidCircularB-Light";
    src: url(@/fonts/EuclidCircularB-Light.woff);
    src: url(@/fonts/EuclidCircularB-Light.woff2)
}
@font-face {
    font-family: "EuclidCircularB-SemiBold";
    src: url(@/fonts/EuclidCircularB-SemiBold.woff);
    src: url(@/fonts/EuclidCircularB-SemiBold.woff2)
}
@font-face {
    font-family: "EuclidCircularA-SemiBold";
    src: url(@/fonts/EuclidCircularA-SemiBold.woff);
    src: url(@/fonts/EuclidCircularA-SemiBold.woff2)
}
@font-face {
    font-family: "SangBleuKingdom-Bold";
    src: url(@/fonts/SangBleuKingdom-Bold-WebXL.otf);
}
@font-face {
    font-family: "SangBleuKingdom-Regular";
    src: url(@/fonts/SangBleuKingdom-Regular-WebXL.otf);
}