section.slider 
  .slider-wrap
    .slider-bg 
      picture
        source(media="(min-width: 1104px)", srcset="~@/img/index/Allinclusive@1392w.webp, ~@/img/index/Allinclusive@2784w.webp 2x", type="image/webp", alt="Фон", loading="lazy")
        source(media="(min-width: 1104px)", srcset="~@/img/index/Allinclusive@1392w.jpg, ~@/img/index/Allinclusive@2784w.jpg 2x", type="image/jpeg", alt="Фон", loading="lazy")
        source(media="(max-width: 1104px)", srcset="~@/img/index/Allinclusive@1067w.webp, ~@/img/index/Allinclusive@2134w.webp 2x", type="image/webp", alt="Фон", loading="lazy")
        source(media="(max-width: 1104px)", srcset="~@/img/index/Allinclusive@1067w.jpg, ~@/img/index/Allinclusive@2134w.jpg 2x", type="image/jpeg", alt="Фон", loading="lazy")
        img(src="~@/img/index/Allinclusive@1392w.jpg", type="image/jpeg", alt="Фон", loading="lazy")
    .slider-head 
      .slider-title Все включено
      .slider-button
        button.slider-button_prev(aria-label="Пролистнуть слайд назад")
          <svg width="8" height="12" viewBox="0 0 8 12" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.72816 6.6375L2.4466 11.7375C2.26537 11.9125 2.04531 12 1.78641 12C1.52751 12 1.30744 11.9125 1.12621 11.7375L0.271845 10.875C0.0906148 10.7 -6.61135e-08 10.4875 -7.70413e-08 10.2375C-8.79692e-08 9.9875 0.0906148 9.775 0.271845 9.6L4 6L0.271844 2.4C0.0906145 2.225 -4.36567e-07 2.0125 -4.47495e-07 1.7625C-4.58423e-07 1.5125 0.0906144 1.3 0.271844 1.125L1.12621 0.2625C1.30744 0.0875002 1.52751 2.01451e-07 1.78641 1.90135e-07C2.04531 1.78818e-07 2.26537 0.0875002 2.4466 0.2625L7.72816 5.3625C7.90939 5.5375 8 5.75 8 6C8 6.25 7.90939 6.4625 7.72816 6.6375Z" fill="#fff"/>
          </svg>
        button.slider-button_next(aria-label="Пролистнуть слайд вперёд")
          <svg width="8" height="12" viewBox="0 0 8 12" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.72816 6.6375L2.4466 11.7375C2.26537 11.9125 2.04531 12 1.78641 12C1.52751 12 1.30744 11.9125 1.12621 11.7375L0.271845 10.875C0.0906148 10.7 -6.61135e-08 10.4875 -7.70413e-08 10.2375C-8.79692e-08 9.9875 0.0906148 9.775 0.271845 9.6L4 6L0.271844 2.4C0.0906145 2.225 -4.36567e-07 2.0125 -4.47495e-07 1.7625C-4.58423e-07 1.5125 0.0906144 1.3 0.271844 1.125L1.12621 0.2625C1.30744 0.0875002 1.52751 2.01451e-07 1.78641 1.90135e-07C2.04531 1.78818e-07 2.26537 0.0875002 2.4466 0.2625L7.72816 5.3625C7.90939 5.5375 8 5.75 8 6C8 6.25 7.90939 6.4625 7.72816 6.6375Z" fill="#fff"/>
          </svg>
    .slider-line 
      .slider-slide 
        .slide__item_main
          .slide__img
            picture
              source(media="(min-width: 1104px)", srcset="~@/img/index/pic@560w.webp, ~@/img/index/pic@1120w.webp 2x", type="image/webp", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 1104px)", srcset="~@/img/index/pic@560w.jpg, ~@/img/index/pic@1120w.jpg 2x", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/pic@430w.webp, ~@/img/index/pic@860w.webp 2x", type="image/webp", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/pic@430w.jpg, ~@/img/index/pic@860w.jpg 2x", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/pic@700w.webp, ~@/img/index/pic@1400w.webp 2x", type="image/webp", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/pic@700w.jpg, ~@/img/index/pic@1400w.jpg 2x", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/pic@461w.webp, ~@/img/index/pic@922w.webp 2x", type="image/webp", alt="Тренажерный зал", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/pic@461w.jpg, ~@/img/index/pic@922w.jpg 2x", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
              img(src="~@/img/index/pic@560w.jpg", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
          .slide__text Заниматесь в тренажерном зале и посещайте групповые тренировки
          a.slide__link Читать больше 
        .slide__item_second
          .slide__title Оздоровление
          .slide__desc Mriya Resort — это маленький город со множеством возможностей, каждый найдет себе занятие по вкусу
        .slide__item_third
          .slide__img
            picture
              source(media="(min-width: 1104px)", srcset="~@/img/index/coo@260w.webp, ~@/img/index/coo@520w.webp 2x", type="image/webp", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 1104px)", srcset="~@/img/index/coo@260w.jpg, ~@/img/index/coo@520w.jpg 2x", type="image/jpeg", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/coo@200w.webp, ~@/img/index/coo@400w.webp 2x", type="image/webp", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/coo@200w.jpg, ~@/img/index/coo@400w.jpg 2x", type="image/jpeg", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/coo@700w.webp, ~@/img/index/coo@1400w.webp 2x", type="image/webp", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/coo@700w.jpg, ~@/img/index/coo@1400w.jpg 2x", type="image/jpeg", alt="Шведская линия", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/coo@461w.webp, ~@/img/index/coo@922w.webp 2x", type="image/webp", alt="Шведская линия", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/coo@461w.jpg, ~@/img/index/coo@922w.jpg 2x", type="image/jpeg", alt="Шведская линия", loading="lazy")
              img(src="~@/img/index/coo@520w.jpg", type="image/jpeg", alt="Шведская линия", loading="lazy")
          .slide__text Питаться в ресторане шведской линии согласно выбранному варианту
          a.slide__link Читать больше
        .slide__item_fourth
          .slide__img
            picture
              source(media="(min-width: 1104px)", srcset="~@/img/index/w@260w.webp, ~@/img/index/w@520w.webp 2x", type="image/webp", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 1104px)", srcset="~@/img/index/w@260w.jpg, ~@/img/index/w@520w.jpg 2x", type="image/jpeg", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/w@200w.webp, ~@/img/index/w@400w.webp 2x", type="image/webp", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/w@200w.jpg, ~@/img/index/w@400w.jpg 2x", type="image/jpeg", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/1@700w.webp, ~@/img/index/1@1400w.webp 2x", type="image/webp", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/1@700w.jpg, ~@/img/index/1@1400w.jpg 2x", type="image/jpeg", alt="Территория комплекса", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/1@461w.webp, ~@/img/index/1@922w.webp 2x", type="image/webp", alt="Территория комплекса", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/1@461w.jpg, ~@/img/index/1@922w.jpg 2x", type="image/jpeg", alt="Территория комплекса", loading="lazy")
              img(src="~@/img/index/w@520w.jpg", type="image/jpeg", alt="Территория комплекса", loading="lazy")
          .slide__text Исследовать все общедоступные зоны и территории комплекса
          a.slide__link Читать больше 
      .slider-slide 
        .slide__item_main
          .slide__img
            picture
              source(media="(min-width: 1104px)", srcset="~@/img/index/pic@560w.webp, ~@/img/index/pic@1120w.webp 2x", type="image/webp", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 1104px)", srcset="~@/img/index/pic@560w.jpg, ~@/img/index/pic@1120w.jpg 2x", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/pic@430w.webp, ~@/img/index/pic@860w.webp 2x", type="image/webp", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/pic@430w.jpg, ~@/img/index/pic@860w.jpg 2x", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/pic@700w.webp, ~@/img/index/pic@1400w.webp 2x", type="image/webp", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/pic@700w.jpg, ~@/img/index/pic@1400w.jpg 2x", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/pic@461w.webp, ~@/img/index/pic@922w.webp 2x", type="image/webp", alt="Тренажерный зал", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/pic@461w.jpg, ~@/img/index/pic@922w.jpg 2x", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
              img(src="~@/img/index/pic@560w.jpg", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
          .slide__text Заниматесь в тренажерном зале и посещайте групповые тренировки
          a.slide__link Читать больше 
        .slide__item_second
          .slide__title Оздоровление
          .slide__desc Mriya Resort — это маленький город со множеством возможностей, каждый найдет себе занятие по вкусу
        .slide__item_third
          .slide__img
            picture
              source(media="(min-width: 1104px)", srcset="~@/img/index/coo@260w.webp, ~@/img/index/coo@520w.webp 2x", type="image/webp", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 1104px)", srcset="~@/img/index/coo@260w.jpg, ~@/img/index/coo@520w.jpg 2x", type="image/jpeg", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/coo@200w.webp, ~@/img/index/coo@400w.webp 2x", type="image/webp", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/coo@200w.jpg, ~@/img/index/coo@400w.jpg 2x", type="image/jpeg", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/coo@700w.webp, ~@/img/index/coo@1400w.webp 2x", type="image/webp", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/coo@700w.jpg, ~@/img/index/coo@1400w.jpg 2x", type="image/jpeg", alt="Шведская линия", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/coo@461w.webp, ~@/img/index/coo@922w.webp 2x", type="image/webp", alt="Шведская линия", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/coo@461w.jpg, ~@/img/index/coo@922w.jpg 2x", type="image/jpeg", alt="Шведская линия", loading="lazy")
              img(src="~@/img/index/coo@520w.jpg", type="image/jpeg", alt="Шведская линия", loading="lazy")
          .slide__text Питаться в ресторане шведской линии согласно выбранному варианту
          a.slide__link Читать больше
        .slide__item_fourth
          .slide__img
            picture
              source(media="(min-width: 1104px)", srcset="~@/img/index/w@260w.webp, ~@/img/index/w@520w.webp 2x", type="image/webp", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 1104px)", srcset="~@/img/index/w@260w.jpg, ~@/img/index/w@520w.jpg 2x", type="image/jpeg", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/w@200w.webp, ~@/img/index/w@400w.webp 2x", type="image/webp", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/w@200w.jpg, ~@/img/index/w@400w.jpg 2x", type="image/jpeg", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/1@700w.webp, ~@/img/index/1@1400w.webp 2x", type="image/webp", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/1@700w.jpg, ~@/img/index/1@1400w.jpg 2x", type="image/jpeg", alt="Территория комплекса", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/1@461w.webp, ~@/img/index/1@922w.webp 2x", type="image/webp", alt="Территория комплекса", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/1@461w.jpg, ~@/img/index/1@922w.jpg 2x", type="image/jpeg", alt="Территория комплекса", loading="lazy")
              img(src="~@/img/index/w@520w.jpg", type="image/jpeg", alt="Территория комплекса", loading="lazy")
          .slide__text Исследовать все общедоступные зоны и территории комплекса
          a.slide__link Читать больше 
      .slider-slide 
        .slide__item_main
          .slide__img
            picture
              source(media="(min-width: 1104px)", srcset="~@/img/index/pic@560w.webp, ~@/img/index/pic@1120w.webp 2x", type="image/webp", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 1104px)", srcset="~@/img/index/pic@560w.jpg, ~@/img/index/pic@1120w.jpg 2x", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/pic@430w.webp, ~@/img/index/pic@860w.webp 2x", type="image/webp", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/pic@430w.jpg, ~@/img/index/pic@860w.jpg 2x", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/pic@700w.webp, ~@/img/index/pic@1400w.webp 2x", type="image/webp", alt="Тренажерный зал", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/pic@700w.jpg, ~@/img/index/pic@1400w.jpg 2x", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/pic@461w.webp, ~@/img/index/pic@922w.webp 2x", type="image/webp", alt="Тренажерный зал", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/pic@461w.jpg, ~@/img/index/pic@922w.jpg 2x", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
              img(src="~@/img/index/pic@560w.jpg", type="image/jpeg", alt="Тренажерный зал", loading="lazy")
          .slide__text Заниматесь в тренажерном зале и посещайте групповые тренировки
          a.slide__link Читать больше 
        .slide__item_second
          .slide__title Оздоровление
          .slide__desc Mriya Resort — это маленький город со множеством возможностей, каждый найдет себе занятие по вкусу
        .slide__item_third
          .slide__img
            picture
              source(media="(min-width: 1104px)", srcset="~@/img/index/coo@260w.webp, ~@/img/index/coo@520w.webp 2x", type="image/webp", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 1104px)", srcset="~@/img/index/coo@260w.jpg, ~@/img/index/coo@520w.jpg 2x", type="image/jpeg", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/coo@200w.webp, ~@/img/index/coo@400w.webp 2x", type="image/webp", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/coo@200w.jpg, ~@/img/index/coo@400w.jpg 2x", type="image/jpeg", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/coo@700w.webp, ~@/img/index/coo@1400w.webp 2x", type="image/webp", alt="Шведская линия", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/coo@700w.jpg, ~@/img/index/coo@1400w.jpg 2x", type="image/jpeg", alt="Шведская линия", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/coo@461w.webp, ~@/img/index/coo@922w.webp 2x", type="image/webp", alt="Шведская линия", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/coo@461w.jpg, ~@/img/index/coo@922w.jpg 2x", type="image/jpeg", alt="Шведская линия", loading="lazy")
              img(src="~@/img/index/coo@520w.jpg", type="image/jpeg", alt="Шведская линия", loading="lazy")
          .slide__text Питаться в ресторане шведской линии согласно выбранному варианту
          a.slide__link Читать больше
        .slide__item_fourth
          .slide__img
            picture
              source(media="(min-width: 1104px)", srcset="~@/img/index/w@260w.webp, ~@/img/index/w@520w.webp 2x", type="image/webp", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 1104px)", srcset="~@/img/index/w@260w.jpg, ~@/img/index/w@520w.jpg 2x", type="image/jpeg", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/w@200w.webp, ~@/img/index/w@400w.webp 2x", type="image/webp", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 768px)", srcset="~@/img/index/w@200w.jpg, ~@/img/index/w@400w.jpg 2x", type="image/jpeg", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/1@700w.webp, ~@/img/index/1@1400w.webp 2x", type="image/webp", alt="Территория комплекса", loading="lazy")
              source(media="(min-width: 505px)", srcset="~@/img/index/1@700w.jpg, ~@/img/index/1@1400w.jpg 2x", type="image/jpeg", alt="Территория комплекса", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/1@461w.webp, ~@/img/index/1@922w.webp 2x", type="image/webp", alt="Территория комплекса", loading="lazy")
              source(media="(max-width: 505px)", srcset="~@/img/index/1@461w.jpg, ~@/img/index/1@922w.jpg 2x", type="image/jpeg", alt="Территория комплекса", loading="lazy")
              img(src="~@/img/index/w@520w.jpg", type="image/jpeg", alt="Территория комплекса", loading="lazy")
          .slide__text Исследовать все общедоступные зоны и территории комплекса
          a.slide__link Читать больше 